// Place all the styles related to the pokemon controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.pokemon-detail {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  float: left;
  width: 75%;
  background-color: #d1ccb6;
  text-align: center;
  color: black;
  font-size: 20px;
  padding: 20px;
  margin: 0 20px;
}

.pokemon-detail ul {
  margin: 0;
}

.pokemon-detail li {
  padding: 10px;
}

.pokemon-list {
  float: left;
  width: 15%;
}

.pokemon-list li {
  border-bottom: 1px solid #aaa;
  vertical-align: middle;
  padding: 5px 20px;
}

.pokemon-list li:first-child {
  border-top: 1px solid #aaa;
}

.pokemon-list li:hover {
  border-color: #eee;
  color: #eee;
}

.thumbnail {
  width: 20px;
  height: auto;
}

.toy-list {
  display: flex;
  flex-direction: row;
  text-align: center;
}

.toy {
  width: 100px;
  height: auto;
}

.pokemon-detail h2 {
  font-size: 32px;
  font-weight: 400;
}

body {
  font-size: 20px;
}

.new-pokemon-details input {
  margin: 20px 0;
  background: none;
  border: 0;
  border-radius: 0;
  padding: 5px;
  font-size: 16px;
  border-bottom: 1px solid black;
  --webkit-appearance: none;
}

.new-pokemon-details {
  display: flex;
  flex-direction: column;
  width: 80%;
}

.new-pokemon-details input[type="submit"] {
  border: 0;
  background: #d43316;
  color: white;
  font-weight: bold;
  cursor: pointer;
  padding: 10px 0;
  margin: 0;
}
